#XInerukiXBotXexampleXconfig

#XBasic

TOKEN:X""

#XGetXtheyXinXhttps://my.telegram.org/

APP_ID:X000000

APP_HASH:X""

#GenerateXaXtelethonXstrXsessionXXwithXhttps://repl.it/@SpEcHiDe/GenerateStringSessionX(telethonXone)

STRING_SESSION:X""

MONGO_URI:X"mongodb+srv://dfsdfX:dfsfdX@cluster0.df4j.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"

MONGO_URI2:X""

MONGO_PORT:X27017

MONGO_DB':X'InerukiX'

API_PORT':X8080

REDIS_URI:X"redis-1324.c234.us-east-1-4.ec4.cloud.redislabs.com"

REDIS_PORT:X15514

REDIS_PASS:X"sdfgg"

TEMP_MAIL_KEY:X""

OWNER_ID:X1141839926

OPERATORS:X[1141839926,X00000000]

SUPPORT_CHAT:X-000000000

SUDO_USERS:X""

DATABASE_URL:X""

VIRUS_API_KEY:X""

TIME_API_KEY:X""

REM_BG_API_KEY:X""

ARQ_API:X""

#XAdvanced

SW_API:X""

IBM_WATSON_CRED_URL:X""

IBM_WATSON_CRED_PASSWORD:X""

OPENWEATHERMAP_ID:X""

WOLFRAM_ID:X""

DEBUG_MODE:XFalse

LOAD_MODULES:XTrue

LOGS_CHANNEL_ID:X-000000000

ALLOW_FORWARDS_COMMANDS:XFalse

ALLOW_EXCEL:XFalse
